<h1>Articles</h1>
<ul>
  <%  @articles.each do |article| %>
    <li> 
      <a href="/articles/<%= article.id %>"> 
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>